@{
    if (!Request["lang"].IsEmpty())
    {
        Response.Cookies["lang"].Value = Request["lang"];
        Culture = UICulture = Request["lang"];
    }
    else if (Response.Cookies.Get("lang").Value != null)
    {
        Culture = UICulture = Response.Cookies.Get("lang").Value;
    }
    else
    {
        Response.Cookies["lang"].Value = @System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
    }                
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elliso</title>
    <!-- Bootstrap -->
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">

    <!-- bootstrap-responsive -->
    <link href="@Url.Content("~/css/bootstrap-responsive.min.css")" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet">

    <!-- ace CSS -->
    <link href="@Url.Content("~/css/ace.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/ace-responsive.min.css")" rel="stylesheet">

    <!-- Font Awesome 4.3.0-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/css/custom.css")" rel="stylesheet">

    <!-- jQuery UI CSS -->
    <link href="@Url.Content("~/css/jquery-ui-1.9.2.custom.css")" rel="stylesheet">

</head>
  <body class="nav-md">
  
      @RenderBody()

      <!-- jQuery -->
      <script src="@Url.Content("~/js/1.9.1/jquery.min.js")"></script>

      <!-- Bootstrap -->
      <script src="@Url.Content("~/css/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>

      <!-- jQuery UI-->
      <script src="@Url.Content("~/js/jquery-ui-1.9.2.custom.min.js")"></script>

      <!-- Custom Theme Scripts -->
      <script src="@Url.Content("~/js/custom.js")"></script>

      <script type="text/javascript">
		    window.jQuery || document.write("<script src='" + @Url.Content("~/js/1.9.1/jquery.min.js") + "'>\x3C/script>");
      </script>

      <!-- inline scripts related to this page -->

      <script type="text/javascript">

		    function show_box(id) {
		        $('.widget-box.visible').removeClass('visible');
		        $('#' + id).addClass('visible');
		    }
      </script>
    </body>
</html>
